.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.btn img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.my-1 {
    margin: 5px 0;
}

.my-2 {
    margin: 26px 0;
}

.text-center {
    text-align: center;
}